name: Build and Test Plugin Template

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        java: [14]
    name: Build and Test Plugin Template
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java }}
  
        # plugin-template
    - name: Checkout AD
      uses: actions/checkout@v2

      # dependencies: OpenSearch
    - name: Checkout OpenSearch
      uses: actions/checkout@v2
      with:
        repository: 'opensearch-project/OpenSearch'
        path: OpenSearch
        ref: '1.0'
    - name: Build OpenSearch
      working-directory: ./OpenSearch
      run: ./gradlew publishToMavenLocal -Dbuild.version_qualifier=rc1 -Dbuild.snapshot=false

    - name: Build and Run Tests
      run: |
          ./gradlew build -Dopensearch.version=1.0.0-beta1
          
    - name: Publish to Maven Local
      run: |
          ./gradlew publishToMavenLocal -Dopensearch.version=1.0.0-beta1
      
